$imgBg: url(../img/m-h-night.jpg);
$fontSource: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif;
$jointFont: $fontFresca;
$headerTextColor: #ffffff;
$psElemColor: #FF4E33;
$btnColor: #E3AC00;
$cardBg: #3B3F50;
$cardTextColor: #B0BBC2;
$gradientColor: ("leftColor": #DEA505, "rightColor": #97344E);
$mainBg: #21232E;