$imgBg: url(../img/m-h-day.jpg);
$fontSource: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif;
$jointFont: $fontHind;
$headerTextColor: #2C2F3C;
$psElemColor: #14A0C7;
$btnColor: #699900;
$cardBg: #21232E;
$cardTextColor: #AAADB7;
$gradientColor: ("leftColor": #679706, "rightColor": #3261C4);
$mainBg: #ffffff;